{
    "extends": "airbnb",
    "globals": {
        "it": true,
        "describe": true,
        "expect": true,
        "request": true
    },
    "rules": {
        "prefer-destructuring": ["error", {
            "object": false
          }],
        "no-console": ["error", {"allow": ["log"]}]
    }
}